[2017-09-28 18:29] milleruntime commented on #365
I looked into the code that is discussed above and it would seem that it is behaving as intended.  The side effect of these changes is that a ParameterException will no longer be thrown, ever, I believe since it is now unreachable code:
https://github.com/cbeust/jcommander/blob/master/src/main/java/com/beust/jcommander/JCommander.java#L737
This is because if an unknown option is encountered and ac

[2017-10-01 19:31] dibog commented on #395
@cbeust and @jeremysolarz Are the arguments strong enough?

[2017-10-02 16:51] jonbarksdale opened #404 "Javadoc jar empty on maven repository"
Steps:
1. Go to search.maven.org
2. search for jcommander
3. download the javadoc.jar for com.beust jcommander (most recent as of this ticket was 1.7.2)

Expected:
javadoc jar should contain javadoc

Actual:
javadoc jar contains nothing

[2017-10-09 14:39] PureCS commented on #217
Hello, I want to try to solve this problem (customizable format with a default), I want to confirm that you would accept the PR if it was sufficient for our needs. I will discuss this further once I begin designing the solution, if you permit me to do so.

[2017-10-09 23:37] remkop commented on #27
All respect for JCommander, but if you're interested in strong (and strongly typed) support for positional parameters you may be interested in picocli: http://picocli.info/#_options_and_parameters

[2017-10-11 20:11] aadrian opened #405 "Add ANSI Colors!"
Please add ANSI colors too.

Thank you.

[2017-10-11 20:12] aadrian opened #406 "Add Autocompletion!"
Hi,

Please add command line auto-completion too.

Thank you.

[2017-10-15 13:08] PureCS commented on #217
@cbeust let me know if you would consider a PR for this.

I want to create a IUsageFormatter which defines how the usage for a given JCommander is formatted (like the third suggestion in the original post).
Then we have a DefaultUsageFormatter which would format it as it currently is, and be used if no IUsageFormatter is passed to the usage method.

The benefits of this are as follows, in addition

[2017-10-15 15:53] cbeust commented on #217
I'd be open to that. The current implementation (which is pretty ugly, I agree) could simply be hidden behind the `DefaultUsage` instance.

`ParameterDescription` is the standard way to obtain parameter information, though, I'm not sure how you'd get around that, but if you want to send a few PR's (even early ones just to discuss the general outline of what you have in mind), I'm happy to discuss.

[2017-10-15 18:03] PureCS commented on #217
@cbeust I have opened [this](https://github.com/cbeust/jcommander/pull/408) pull-request for us to discuss and work on this. Feel free to let me know of any concerns or needs you have.

[2017-10-15 22:55] imedina commented on #398
I think he meant shell autocomplete, and you are right, this is a shell issue. FYI I work with @wbari last week to implement a a generic method to create shell completion scripts from a JComander Object, it works with commands and subcommands (two levels), code at:

https://github.com/opencb/java-common-libs/blob/develop/commons-lib/src/main/java/org/opencb/commons/utils/CommandLineUtils.java#L106

[2017-10-15 23:34] imedina commented on #406
FYI this was briefly discussed recently at #398

In the 4th comment you will find a link to a generic method for creating bash auto-completion scripts, maybe that is useful to you.

[2017-10-15 23:47] imedina commented on #374
Hi,

I think the answer is yes,  you can see an example in my project at:

https://github.com/opencb/opencga/blob/develop/opencga-app/src/main/java/org/opencb/opencga/app/cli/main/OpencgaCliOptionsParser.java#L77

you just need to add a command (L77) and get that command and nested commands (L78 and L79). The result is something like:

![image](https://user-images.githubusercontent.com/1427327/315

[2017-10-16 02:40] #406 closed

[2017-10-16 02:41] #374 closed

[2017-10-16 04:23] aadrian commented on #406
@imedina not really. This solution  https://github.com/remkop/picocli just works really well. I was hoping for something similar in JCommander too.

[2017-10-16 17:54] PureCS commented on #391
See https://github.com/cbeust/jcommander/issues/381

[2017-10-17 02:54] #381 closed

[2017-10-17 19:00] simon04 commented on #395
`valueOf()` does not seem to be used consistently in the Java ecosystem. For instance, [Auto Value](https://github.com/google/auto/blob/master/value/userguide/index.md) is suggesting `create()`, and various classes introduced with Java 8 – `Optional`, `Stream` – use `of()`.

With lambdas in Java 8 and the `IStringConverterInstanceFactory`, writing a converter for `valueOf()` (or any other static f

[2017-10-17 20:00] cbeust commented on #395
Agreed, closing.

[2017-10-17 20:00] #395 closed

[2017-10-18 21:49] superbonaci commented on #391
Ok thanks, anyway java 7 is too old and has security issues.

[2017-10-18 21:49] #391 closed

[2017-10-19 13:35] tomtom opened #412 "Boolean options should support --name and --no-name pattern"
One thing I really like about how ruby handles command line options, is its support for boolean command-line options.

When I define an option name like this `--[no-]foo`, the command-line argument `--foo` will set the underlying boolean property to true, and `--no-foo` will set it to false.

Example:

    @Parameter(names = "--[no-]debug", description = "Debug mode")
    private boolean debug = f

[2017-10-19 16:19] cbeust commented on #412
Mmmh... not sure I see the point. One of these switches will basically set the boolean to the value it already has by default, right?

JCommander already lets you set the default value for your boolean field, not sure more is needed...

[2017-10-19 19:06] tomtom commented on #412
One argument in favor of this pattern is consistency. It's a pattern
supported by several tools, e.g. configure scripts. The other is that it
currently isn't possible to unset a boolean flag.

Say you have a script bar that runs

     foo --true $@

and now you run

     bar --no-true

Regards

[2017-10-21 12:15] PureCS commented on #412
Syntactic sugar if anything

[2017-10-21 13:31] tomtom commented on #412
Well yes. The question is whether it is useful enough. I see though that the proposal doesn't make the crowd go wild.

[2017-10-26 12:39] StamplerJ opened #415 "Parsing results in lower-case values"
I'm trying to parse connection information to establish a database connection, but parsing the values results in lower case data. Therefore, my access is always denied.

`dbconfig -hn hostname -p port -u User -pw Password`
turns into
`dbconfig -hn hostname -p port -u user -pw password`

Is this a bug or is the some configuration I couldn't find in the documentation?

[2017-10-26 12:48] #415 closed

[2017-10-26 12:49] StamplerJ commented on #415
Whoops, nevermind. I lower cased every input within my application. My fault, sorry...

[2017-10-27 06:11] lvc opened #416 "API report for Jcommander"
Hi,

I'd like to share report on API changes and backward compatibility for the Jcommander library: https://abi-laboratory.pro/java/tracker/timeline/jcommander/

BC — binary compatibility
SC — source compatibility

The report is generated by the https://github.com/lvc/japi-tracker tool for jars found at http://central.maven.org/maven2/com/beust/jcommander/ according to the article https://wiki.ecl

[2017-10-27 06:17] #416 closed

[2017-10-28 21:42] PureCS commented on #405
What do you mean exactly?
An interface to easily allow their use? you can implement your own [usage formatter](https://github.com/cbeust/jcommander/blob/master/src/main/java/com/beust/jcommander/DefaultUsageFormatter.java) and use them there as you wish.
General support for them? this is dependent on your terminal of choice.

[2017-10-28 22:37] aadrian commented on #405
I would like to have in jcommander what other CLI libraries already have, e.g.: https://github.com/remkop/picocli

[2017-10-28 22:53] PureCS commented on #405
Yeah, you can accomplish this by overriding usage formatter.

I don't think this will be used enough to warrant implementing, but you can always discuss it here and open a PR to address it.

[2017-10-30 07:40] tavoda opened #417 "Trimming parameters"
Hello,
why are you trimming parameters? I don't know how on windows but on Unix is definitely wrong idea. If I run program like:
[code]
than parameters are trimmed by shell and I get "-L", "abc", "-P", "def", when I would like to add space I have to run:
[code]
And I will get parameter with space "abc " that's intention. It's common practice on unix. Nobody (on unix) will use '"abc "' specially if

[2017-10-30 13:00] cbeust commented on #417
Can you show a JCommander example where this is happening?

[2017-10-30 13:14] tavoda commented on #417
It's happening in JCommander.trim() function. If I declare field like:
[code]
and start it from command line with `java -jar myTool.jar -L ' '` I will get empty string ("") instead of space in escapeNl.

[2017-11-27 13:44] tomtom commented on #412
One advantage would be that you don't have to change any logic when you change an option's default value.

[2017-11-29 10:50] lindenb opened #420 "Map<IKey, ParameterDescription> used with containsKey(String)"
If I'm not wrong in https://github.com/cbeust/jcommander/blob/master/src/main/java/com/beust/jcommander/JCommander.java#L652

[code]

description is a` Map<IKey, ParameterDescription`> and it's compared to a `String`.

the implementations of IKey.equals in StringKey or ProgramName don't handle the String.class

[2017-12-01 22:29] #417 closed

[2017-12-01 22:31] cbeust commented on #417
Fixed in the next version.

[2017-12-01 22:31] #396 closed

[2017-12-04 05:49] tavoda commented on #417
I looked at fix and I'm not sure how it will work on windows (cmd.exe). For unix/linux this is OK however I'm not sure how it will for on windows because cmd.exe is not doing parameter processing and removing quotes ("/') is maybe necessary because cmd.exe will send parameters AS IS provided on command line together with quotes. I have no environment to test on windows :-/.

[2017-12-06 15:35] dibog opened #421 "Make JCommander Kotlin aware"
It would be nice, if using Kotlin I could write the following

    class Args {
        @Parameter
        lateinit var file: File
    }

Currently this will fail, as it seems that JCommand tries to read from `file` to see if there is an default value.
With the new version of Kotlin (1.2 I think) you can check if the `lateinit` marked variable was already initialized. E.g. in the above case JComma

[2018-01-13 18:05] bobtiernay-okta opened #425 "Add support for `addCommands` in `JCommander.Builder`"
The idea is to support this pattern:

[code]

Instead of the more clumsy:

[code]

[2018-01-28 23:44] erickj opened #427 "guice injection support"
In the past I've used flag binding systems that are very well integrated with the dependency injection system we've used, specifically guice. Particularly usages like the following are very helpful:

`
class MyFlagModule extends ParameterModule {
  @Parameter(names = {"--port"}, bindingAnnotation = ThePort.class)
  private Integer port = 0;
}

class MyServer {
  @Inject
  MyServer(@ThePort Integer

[2018-01-30 18:42] MiriUll opened #429 "Cannot access addObject"
Hello,

I am trying to run the sample code but the addObject command in
JCommander.newBuilder()
  .addObject(args)
  .build()
  .parse(argv);
keeps telling me "addObject(java.lang.Object) in com.beust.jcommander.JCommander.Builder is defined in an inaccessible class or interface".
I am using gradle and added the compile statement to gradle.build.

Thanks for your help!

[2018-01-31 07:53] dipak-pawar opened #430 "Missing directory entries in jcommander jar"
### Jcommander Version

### Description:
- Run  `jar -tf jcommander-1.72.jar`
- All entries for directories are not packaged in the jar. This causes a problem while trying to get resources from classpath.
- Latest released testng jar is bundled with `com.beust:jcommander:jar:1.66`. I have opened similar issue for TestNG yesterday https://github.com/cbeust/testng/issues/1677
- In particular this ca

[2018-02-01 22:58] cbeust commented on #385
@rbjorklin Unless I'm missing something, `module-info.java` is present in the distribution:

https://github.com/cbeust/jcommander/blob/master/module-info.java

Do you need something else?

[2018-02-01 23:20] jodastephen commented on #385
So, to be useful, the `module-info.java` file has to be compiled into `module-info.class` (on Java 9) and placed at the root of the jar file. The Maven instructions are [here](https://maven.apache.org/plugins/maven-compiler-plugin/examples/module-info.html). No idea what exactly you'd need to do for Kobalt or Gradle. Note that as per the Maven instructions, the jar file can still work on JDK 8. Th

[2018-02-01 23:21] cbeust commented on #385
Thanks @jodastephen, I'm looking into it.

[2018-02-01 23:21] cbeust commented on #385
I'll probably cut a 2.0.0-RC1 release to break cleanly from the Java 7 compatible version.

[2018-02-01 23:35] cbeust commented on #385
Done:

http://jcenter.bintray.com/com/beust/jcommander/2.0.0-RC1/

Let me know how it works for you @rbjorklin @jodastephen

[2018-02-01 23:47] jodastephen commented on #385
Looking at the class file of `DefaultUsageFormatter.class` in a hex editor, it has the Java 9 classfile version (hex 35).

I think you want the classfile version to be Java 8 so your project is still Java 8 compatible, with just `module-info.class` as Java 9. To make this work with Maven, you have to compile the whole project twice - first with Java 9 including `module-info.java`, then using the J

[2018-02-01 23:53] cbeust commented on #385
Ah, ok. Yuck. What's the purpose of that, remain at least Java 8 compatible?

[2018-02-01 23:59] jodastephen commented on #385
Yes. Java 8 is the LTS release (long term support). Most users are going to remain on 8 until at least 11 comes out. So, I think its in your interest to support Java 8 for a while yet. (Java 9 is obsolete in six weeks, and most users can't move fast enough to keep changing major Java versions)

As above, adding a `module-info.class` to a Java 8 jar file isn't straightforward, but it is possible. (

[2018-02-07 18:35] lindenb opened #431 "Problem with arity=2: and argument containing '{}[]:' characters"
Hi,
Sorry if it's a known bug or if I'm missing someting.

Here is my test file below: Arity is 2.
It bugs when the VALUE contains a json string.

[code]

when compiled and executed with 1.72 i've got the following error:
[code]

if I replace VALUE with :

`private static final String VALUE="A B C D E";`

the output is

`OK`

[2018-02-07 19:50] lindenb commented on #431
FYI:
changing pair1 in the test arityString()  produces an error:

[code]

error:

[code]

[2018-02-15 03:34] seamlik opened #432 "Does Not Support "--param=value" Flavor"
JCommander does not support "--param=value" flavor. For example:

[code]

By above I defined a parameter called `--name`. Turns out JCommander accepts `--test name` but not `--test=name`, as this program ends in error:

[code]

This has confused me quite much, since the official documentation suggests it supports this flavor by parsing `--author=cbeust` in [here](http://jcommander.org/#_more_compl

[2018-02-17 15:54] dibog opened #433 "Bug: Strange behaviour for single or multiple main paramters"
In the following code fragment the first and the third block works as expected,
where as the 3rd throws an exception.

The output is attached behind the source code.
`class NormalArgs {
    @Parameter(names=["-f"])
    var argPath : Path? = null
}

class MainArgs {
    @Parameter
    var mainPath : Path? = null
}

class MainArgs2 {
    @Parameter
    var mainPaths = mutableListOf<Path>()
}

fun ma

[2018-02-18 15:54] Hubbitus commented on #432
According to description from you link you forgot `@Parameters(separators = "=")` on `Args` class:
[code]

[2018-02-23 07:27] krmahadevan commented on #430
@dipak-pawar - Thanks. I guess the problem in both the issues is the build tool kobalt.

@cbeust - can you please help ?

[2018-02-23 17:21] cbeust commented on #430
Should be fixed in JCommander 1.73.

[2018-02-23 17:21] #430 closed

[2018-02-26 07:54] seamlik commented on #432
@Hubbitus

Your solution indeed worked. Sorry for being drowned in the ocean of javadoc, closing this now. Thank you!

[2018-02-26 07:54] #432 closed

[2018-02-26 15:57] dipak-pawar opened #434 "CNFE for loding class using classLoader from JCommander due to wrong META-INF/MANIFEST.MF"
**Jcommander Version**

**Description:**
- Run `jar -xvf jcommander-1.73.jar`
- Check for `META-INF/MANIFEST.MF` content
- This causes problem to load any class from jcommander using `this.getClass().getClassLoader().loadClass(ParameterException.class.getName());`

**Reproducer Project**
 https://github.com/dipak-pawar/jcommander-classloading/tree/jcommander_classloader

**Actual output**
https://

[2018-02-27 22:19] DanielThomas commented on #434
This also causes TestNG 6.14.3 to fail on Gradle:

	org.gradle.api.internal.tasks.testing.TestSuiteExecutionException: Could not complete execution for Gradle Test Executor 5.
		at org.gradle.api.internal.tasks.testing.SuiteTestClassProcessor.stop(SuiteTestClassProcessor.java:63)
		at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
		at sun.reflect.NativeMethodAccessorImpl.invoke(Nativ

[2018-03-08 05:09] missedone opened #435 "duplicate content in MANIFEST.MF"
jcommander 1.73
all entries duplicate
<img width="1109" alt="jcommander" src="https://user-images.githubusercontent.com/555134/37134138-d6080dee-224b-11e8-9e4e-829f498ede87.png">

[2018-03-09 15:40] jodastephen commented on #435
Just to note that `Automatic-Module-Name` didn't make it into the manifest either.
https://github.com/cbeust/jcommander/blob/master/build.gradle#L33

[2018-03-10 00:13] missedone commented on #435
hi @cbeust , please fix the osgi header as well:
https://github.com/testng-team/testng-p2/pull/18#discussion_r154551752

[2018-03-11 01:10] opensorceror opened #436 "Determine required parameters based on main command"
First of all, amazing work on JCommander! 😃

I'm building a CLI parser that will have several main commands (`dfs`, `query`, etc). Each of these main commands will have certain parameters, all of which are *required*, but only for the **specified** main command. I'm finding this hard to implement using `ParametersDelegate`. If I annotate a parameter as `required`, JCommander throws an exception if

[2018-03-11 01:28] Insomnia00 commented on #436
what you can so is have is a main command and inside them contain the
command parameters. As such

On Sun, 11 Mar 2018, 14:10 Harsh Gadgil, <notifications@github.com> wrote:

[2018-03-12 23:02] glhez commented on #435
The duplicate entry does not help Java either (removing the duplicate entry fix the problem):

[code]

Also, the jar content contains empty directories (kobaltBuild):

![image](https://user-images.githubusercontent.com/10855953/37313929-ac792954-2651-11e8-9078-58f671a2f4a4.png)

[2018-03-12 23:04] glhez commented on #435
My error was referenced here: https://github.com/cbeust/jcommander/issues/434
(however this ticket was not mentioning it but it is also a duplicate of #434).

[2018-03-12 23:05] glhez commented on #434
As said in #435, I got that error too and fixing the duplicate entries works.
The two tickets relate but there are different problems (missing header, ...).

[2018-03-13 21:22] opensorceror commented on #436
Thanks, I ended up doing it this way. :smile

[2018-03-13 21:22] #436 closed

[2018-03-14 12:05] christopherdoane opened #437 "Java 9 warns about illegal reflective access"
Hi!
We are enjoying Jcommander in our projects, however we ran across a new thing with Java 9 recently.

When running jcommander with Java 9, the following warning message is printed:
[code]

This is ugly from a user-perspective when building CLI apps that use Jcommander. It doesn't break anything, just prints out the warning message at start.

Warm Regards,
Christopher

[2018-03-14 20:16] xmiao2 opened #438 "PositiveInteger validator fails to throw exception for 0 value"
https://github.com/cbeust/jcommander/blob/9f251415677106b683e4bbaf82123f0e5930cdce/src/main/java/com/beust/jcommander/validators/PositiveInteger.java#L34

Currently the class is more like a NonNegativeInteger validator. Shouldn't it be `n <= 0`?

Wanted to know @cbeust's thoughts before making pull requests.

Regards,
James

[2018-03-14 20:43] anhlt18vn commented on #378
Any update on this issue?

[2018-03-14 22:03] cbeust commented on #438
Mmmh... not sure, I think it's fine as it is.

[2018-03-14 22:15] cbeust commented on #378
That's expected: boolean parameters have by definition an arity of zero: you only need to pass `-v` to flip it. Any additional parameter will be interpreted further.

If you want to support `-v true`, you need to set its arity to one.

[2018-03-14 22:15] #378 closed

[2018-03-15 00:18] npetzall opened #439 "expandDynamicArg expands nonDynamicArgs"
If you have a parameter called -abc and a dynamic parameter -ab.
-abc will be expanded to "-ab" "c"

And behold you'll get an exception since "c" is not a valid argument for dynamic parameter.

Checking if arg should be expanded/split
https://github.com/cbeust/jcommander/blob/9f251415677106b683e4bbaf82123f0e5930cdce/src/main/java/com/beust/jcommander/JCommander.java#L472
"-abc".startsWith("-ab") &

[2018-03-30 20:28] shaburov commented on #438
@cbeust, xmiao2 is right in his reasoning.
[A positive number is a number that is bigger than zero.](https://simple.wikipedia.org/wiki/Positive_number)

[2018-03-31 14:18] Copperis commented on #421
JCommander will not fail on this case. It leaves that property uninitialized if there was no argument passed for it.
The application code will fail if it will try to access the uninitialized property after the arguments are parsed though. You can set `required = true` in the annotation, to make the parameter required.

[2018-04-04 14:13] manovotn commented on #430
@cbeust Hi, is there any time estimation on when jcommander 1.73 gets released (and ultimately, when TestNG gets it and is released)?

[2018-04-04 17:07] cbeust commented on #430
1.73 has been out for a while:  http://jcenter.bintray.com/com/beust/jcommander/1.73/

[2018-04-04 17:26] dipak-pawar commented on #434
@cbeust Any updates on this?

[2018-04-18 11:45] Pitterling opened #441 "Not all repositories provide the latest version 1.74 ?"
Hi,

it seems that there is some discrepancy in providing the library ..

[latest tagged git release](https://github.com/cbeust/jcommander/releases/tag/1.71) - 1.71
[Maven Repository](https://mvnrepository.com/artifact/com.beust/jcommander/1.72) - 1.72
[Bintray Maven](https://bintray.com/cbeust/maven/jcommander) - 1.74

Will only Bintray be maintained ?

Thx,
P.

[2018-04-21 17:08] PureCS commented on #194
Note: Commas may also be missing if you are reading input from the command-line arguments in Powershell.
See: https://stackoverflow.com/a/24784272

[2018-04-27 13:54] sschuberth commented on #378
Just checking, @cbeust: Given (Kotlin) code like

    @Parameter(description = "Enable debug logging and keep any temporary files.",
            names = ["--debug"])
    private var debug = false

are you saying that specifying `--debug --debug` is *intended* to toggle debug to `false` again? I believe that behavior is *very* unintuitive. Because that's the behavior we're seeing with JCommander 1.

[2018-05-01 13:41] lorenzleutgeb opened #442 "Remove calls to java.lang.Class#newInstance()"
The method [`java.lang.Class#newInstance`](https://docs.oracle.com/javase/10/docs/api/java/lang/Class.html#newInstance()) is *deprecated* since Java 9.

It is being [used in JCommander](https://github.com/cbeust/jcommander/search?l=Java&q=newInstance). Please refactor JCommander to avoid calling this deprecated API. Thank you.

[2018-05-03 17:39] cristiantoader opened #443 "List parameter overwrite not as expected"
Hello,

Thank you for your awesome library! It fits almost perfect all the use cases that I need, but unfortunately I came across a small inconsistency that I cannot work around.

I am not sure if this is intended behavior or not, but the issue is that I cannot overwrite list parameters. What happens instead is that the values that should overwrite are instead appended to the list.

For example `"

[2018-05-04 15:22] jodastephen opened #444 "Maven Central updates"
It seems that v1.73 and v1.74 never made it to [Maven Central](http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22com.beust%22%20AND%20a%3A%22jcommander%22). This is awkward as I'd like to use the `Automatic-Module-Name` so I can move to Java 9 and beyond.

Would appreciate if v1.74 could be pushed. Thanks.

[2018-05-07 18:15] nanodeath opened #445 "Subcommands"
Hey, so, I have a case where I'd like "subcommands" -- basically something like
`
myprogram command subcommand --flag1 --flag2
`

Currently the only way around this without doing argument parsing of my own is to actually create
`
myprogram command-subcommand --flag1 --flag2
`

which I do using `builder.addCommand("command-subcommand", ...)`. I'd *like* either a dedicated `addSubcommand`-type API,

[2018-05-19 18:58] shaburov opened #446 "Doubling "Commands" when calling "Usage" if values of "commandNames" > 1"
**Parameters Class**
[code]

**Main Class**
[code]

**Console output**
![image](https://user-images.githubusercontent.com/15269131/40271993-a6d566ce-5bae-11e8-85d9-faf3132455bc.png)

**Expected**
[code]
![image](https://user-images.githubusercontent.com/15269131/40272042-6047f680-5baf-11e8-9783-5f28a08ba824.png)

[2018-05-20 21:06] jzwolak commented on #380
This issue was fixed 9 months ago and there hasn't been a release since then... so I ran into the bug, too. @cbeust, will you be making a release?

[2018-05-20 23:19] cbeust commented on #380
1.74 was release about a month ago:

https://bintray.com/cbeust/maven/jcommander/1.74

[2018-05-24 12:03] pvliss opened #447 "Regression: NPE when using a Boolean field that has not been initialised"
Using version 1.72, an NPE is thrown when using a field of type Boolean without initializing it.

This was working normally until version 1.60.

I have not checked against other versions

## Test case
Here's a simple test case that should otherwise work:

[code]
but fails with the following exception:
[code]

## Workarounds:
1. Initialize field to false
2. Switch to using boolean instead

[2018-05-28 12:46] Sayi opened #448 "egex validator"
Hi there!

Do you have a plans to support v3 format specs?

Regards,
Serhii

[2018-05-31 20:19] la-costa commented on #380
It looks like the problem was fixed in version 1.74.

[2018-06-04 09:27] ggdupont commented on #441
More than this, it appears the jar and source on maven central and bintray are not aligned (as per IntelliJ API check)... It appeared for me on 1.72 from maven central and 1.74 from bintray.

Anyone can confirm this?

[2018-06-05 11:53] oxCoffe opened #449 "Localization of error message"
Right now the error message is only available in english. Would it be possible to localize the message? The Message is nice and tells the user directly what is missing but only in english. Maybe we can give the builder a Java Locale to get the right message.

[2018-06-06 07:45] oxCoffe commented on #449
As a follow up iam talking only about the messages that come from wrong inputs of the user. Such as wrong argument or not enough arguments.

[2018-06-16 10:27] raubel commented on #352
Having the possibility to display a global description of the command along with the help message.
I also miss this feature a lot!

[2018-06-24 19:20] juherr commented on #441
@cbeust has often issues with the bintray to central sync. That's why you don't see the exact same versions.

2 options:
- Use Jcenter http://jcenter.bintray.com/ as a repository (it is a mirror of maven central too)
- Wait for the next version published on maven central

[2018-06-24 19:22] juherr commented on #444
Duplicate of https://github.com/cbeust/jcommander/issues/441

[2018-07-13 04:09] jonforums commented on #441
bottom line...what's the latest release one should use, v1.71 tag from this repo or v1.74 from bintray?

[2018-07-13 17:16] DPUkyle commented on #441
+1
I don't mind if the "official" repo is bintray vs. maven central, that's not a problem.

But I'd like to politely suggest taking a second look at jcommander's tagging strategy. The fact that I can't easily jump to a tag for anything past v1.71 makes me a bit uncomfortable to grab the latest version, since I don't know exactly which commit to reference on github.

And of course, thanks for conti

[2018-07-30 16:18] shs96c opened #451 "JPMS support"
It would be nice to be able to use jcommander in an app built by `jlink`. This could be done if it defined a `module-info.class` for use with JPMS (apparently the automatically declared modules used in the manifest aren't good enough for jlink)

Even without the driver of jlink, integration with JPMS will be useful as more people switch to using modules as a part of their build and when Java 11 sh

[2018-08-24 02:54] remkop commented on #427
@erickj  If this is still an issue for you, take a look at https://picocli.info/#_dependency_injection

[2018-08-24 02:59] remkop commented on #339
Picocli [handles this correctly](https://picocli.info/#_stdout_or_stderr) out of the box: on invalid input, the error message and usage help should be printed to stderr, but when the user requests help with `<cmd> --help`, the usage help should be printed to stdout so users can pipe the output to tools like `grep` and `less`.

[2018-08-24 23:41] ShiyunHUANG opened #452 "Add option for not allowing password to be entered on command line"
For applications with high security requirement, passwords should not be exposed on the command line because they will be logged in command history. So we would want an option that always prompt the password even if it is provided in the argument. But after this fix  [https://github.com/cbeust/jcommander/issues/195](url) there is no way to prevent the user from entering the password on command lin

[2018-08-26 08:41] markKL1 opened #453 "Website offline?"
I wanted to look at the documentation on the website, but I'm getting:

Not sure where else to report this issue.

[2018-09-01 18:38] shaburov commented on #447
Error in Parameterized.get (Object object)
![image](https://user-images.githubusercontent.com/15269131/44948907-5f473c00-ae2f-11e8-8d78-7a56575905eb.png)

[2018-09-13 12:19] costin3141 opened #455 "More than one space between parameters"
I am using jcommander to parse a command line and have an issue when the comand line looks like this:
myprogramm -x  -z

Note that between -x and -y are two spaces (not sure but could be that it needs 3 spaces).
JCommander throws the following error:
"Was passed main parameter '' but no main parameter was defined in your arg class"

So JCommander treats one of the spaces as a parameter. How can i

[2018-09-26 06:34] Chiranjivee opened #456 "Release with latest code not available."
Hi,

I am on version 1.72 but just wanted to check when can we have the new release containing the latest code. As I need to use the IUsageFormatter to provide my custom usage implementation.

Thanks

[2018-09-28 12:58] zentol opened #457 "IDefaultProvider for lists duplicates defaults for each name"
When using a list parameter with multiple names
[code]
and a `IDefaultProvider`
[code]
the `labels` parameter will contain the default for each name, in this case twice, once parsing is complete.

The reason is that separate a `ParameterDescription` is created for each name of a parameter, which are however backed by single Parameter object. The default provider is called once for each description

[2018-10-08 23:27] 3flex commented on #453
Seems OK now, can probably close.

[2018-10-10 05:12] Mirosta opened #458 "Stop removing double quotes when parsing arguments"
#153 Is not fixed, for example:

@Parameter(names = {"-v", "--value"}, description = "JSON value to set the attribute to", required = true)
String jsonValue;

From bash:
`java -jar test.jar --value "\"some json string\""`

Will result in jsonValue being set to "some json string", which will then fail to parse as it's no longer a valid json string

I'm not sure what the logic is behind that [trim()

[2018-10-19 18:30] cebaa commented on #443
@zentol On the flip side, that does not mention the case where [allowParameterOverwriting](https://github.com/cbeust/jcommander/blob/master/src/main/java/com/beust/jcommander/JCommander.java#L194) is set to true. In fact, there's not a single mention of `allowParameterOverwriting` in the docs...

@cristiantoader It seems to me that `allowParameterOverwriting` parameter is a bit of an afterthought

[2018-10-26 02:17] tomdcc commented on #377
We just hit this when attempting to upgrade from 1.58.

[2018-11-20 17:59] boerngen-schmidt commented on #458
Well this is not really a bug, but the way bash works. So the outer quotes are needed, so that bash does not delimit the string using its internal $LFS, which is usally newlines, tabs and spaces.
The escaping (\) is needed, so that bash does take the quote as a literal and not a special character.

In Java your string value (!) then is `"some json string"` so when you export this to Json, which se

[2018-11-22 04:56] Mirosta commented on #458
I think you've missed the issue, it seems that the way jCommander is written, it is assuming that the quotes will be passed in by the shell.

If I do
echo "hello world"
Then the output is
hello world
But jCommander thinks it would be
"hello world"

Go have a look at the trim function, if you're not sure what I mean; it checks if the start and end of the string are a quote character, and removes th

[2018-11-26 14:16] boerngen-schmidt commented on #458
Yes you are right, I did not get the problem completely. I did some tests and the only Test that seem to fail if you quote the removal of \" in trim() is [QuotedMainTest](https://github.com/cbeust/jcommander/blob/master/src/test/java/test/QuotedMainTest.java) which is wrong concerning your argumentation, which I agree to!

[2018-11-28 14:04] perlun opened #460 "Prompt for password is shown even when --help is used"
Thanks for a great library. My scenario: I am writing a command line tool that requires a password to be provided.

If I specify the `required = true` setting in the `@Parameter` annotation for my `password` field, the user will have to type `--password` which isn't really what I want - I want them to _always_ be asked for the password, unless the password is set using an environment variable.

Be

[2018-12-07 09:36] npeder opened #461 "Can't handle main argument that is a String as stated in the documentation"
In the documentation (http://jcommander.org/#_main_parameter) it's stated that:

In the method com.beust.jcommander.JCommander#getMainParameter(java.lang.String) a ParameterException is thrown if the parameter field is not a List type

[2018-12-20 16:43] ebayedq commented on #456
Same here, this is really the only feature I'm missing right now

[2018-12-21 06:39] remkop commented on #460
You get use the `System.console().readPassword()` API in your application.

With picocli this would look something like this (JCommander should be fairly similar):

[code]

If I start the app without arguments, it prompts me for the password.
When the environment variable is defined, it uses that value as the password without prompting.

With `--help`, it shows this:

[code]

[2018-12-21 06:49] remkop commented on #461
You may be interested in picocli. It uses `@Option` for named options and `@Parameters` for positional parameters, where both can be strongly typed: https://picocli.info/#_positional_parameters

[2019-01-01 13:26] bbottema opened #462 "About the @ syntax"
Hi, I have a question. In the manual you write the following:

What does _the @ syntax_ refer to? Is there a specification for it or is it a common concept? I couldn't find anything on it other than CLI libraries mentioning support for "the @ syntax".

Thanks!

[2019-01-02 13:57] bbottema commented on #462
So... there isn't any externally defined concept of the `@file`?

[2019-01-15 18:14] Timunas commented on #377
Also, hit this when upgrading from 1.48 to 1.72.

[2019-02-05 21:34] rpii opened #463 "AnnotationTypeMismatchException in jcommander"
There was a previous report of something similar to this issue but I am getting it with jcommander 1.72: This is code that was working before a dependency upgrade changed the jcommander version from 1.64. The file mentioned does exist.

[code]

Not really sure what is causing this.

[2019-02-06 16:08] rpii commented on #463
Its seems to have to do with this parameter in Selenium:
[code]

[2019-02-18 10:57] Aklakan opened #464 "Collection parameter handling 'forgets' items if a bean manages its own collection"
In [https://github.com/cbeust/jcommander/blob/51a5915/src/main/java/com/beust/jcommander/ParameterDescription.java#L261](ParameterDescription.java) a new collection is created and the bean's setter is invoked. Afterwards, the items are added to the original collection, so if the bean's setter created a copy, these additions are lost.

Suggestion: Add the initial item(s) to the original collection

[2019-02-19 20:01] JLLeitschuh opened #465 "[SECURITY] Releases are built/executed/released in the context of insecure/untrusted code"
[CWE-829: Inclusion of Functionality from Untrusted Control Sphere](https://cwe.mitre.org/data/definitions/829.html)

The build files indicate that this project is resolving dependencies over HTTP instead of HTTPS. Any of these artifacts could have been MITM to maliciously compromise them and infect the build artifacts that were produced. Additionally, if any of these JARs or other dependencies we

[2019-03-07 09:29] mkarg opened #466 "Project help wanted?"
@cbeust Cedric, according to the Github statistics, your project is stale since one year. While there are recent issues and PRs, no commits have been pushed for one full year. Do you need project help? Our company could chime in and manage the project for you if you like.

[2019-03-07 09:35] mkarg opened #467 "JCommander.setDescription() on tool level"
It would be great if one could set a description not on the parameter level but also on the tool level itself, to print a short introduction of the tool as part of usage().

[2019-03-07 09:37] mkarg opened #468 "Usage for unnamed parameter"
It would be great if usage() would print an explanating text for the unnamed parameter as part of the parameter list. It confuses users that just options are explained, but not unnamed parameters.

[2019-03-07 15:48] #466 closed

[2019-03-07 15:56] garydgregory commented on #466
Closed with no comment?

[2019-03-07 16:46] cbeust commented on #466
I thought that was spam. Who would offer to manage an open source project for someone else, seriously? And "our company"? Without giving the name?

Super fishy to me.

[2019-03-07 18:18] mkarg commented on #466
@mkarg Actually I am not a spammer and this is not fishy. We need to ensure that JCommander is actively maintained as we started to use it in our long term maintainted products. In the past twelve months [Github reported zero activity](https://github.com/cbeust/jcommander/graphs/contributors?from=2018-03-01&to=2019-03-01&type=c). One option would be forking it, another would be waiting for someone

[2019-03-07 20:39] cbeust commented on #466
Thanks for the clarifications, @mkarg. I was mistaken, but you have to admit your initial phrasing was less than clear.

JCommander is active and I monitor and address issues diligently as they come, as you can see right here by me addressing your issue within just a few hours of you opening it.

There's just nothing pressing that needs to be done for JCommander right now, that I know of anyway, s

[2019-03-07 21:30] mkarg commented on #466
Good to hear that, but I wonder how that fits with currently 71 open issues and 22 open PRs, some of them as old as created in 2013?

[2019-03-07 21:40] Insomnia00 commented on #466
You took on an open source project, you should know the risk. To be honest he did great on his own up to now, I really hope not to see other dev trying to take over just because their project is dependent on this open source project. I can feel like it is his flesh and blood right here.

[2019-03-07 22:46] cbeust commented on #466
Thanks, @Insomnia00.

For what it's worth, I created TestNG in 2004 and still maintain it to this day. I don't easily give up and I'm happy to help users.

As for the open issues, @mkarg, they are more of a reflection that I don't have enough time to curate them and close them and an abandonment of the project. If these issues are still open, it's probably because either they are making suggestion

[2019-03-07 22:54] mkarg commented on #466
Don't get me wrong, we just have to assure that our upstreams are vital, and Github statistics are pretty well suited for this usually (maybe not in this particular project apparently). Be sure, we are in the software business for 30+ years, about 20 of them in open source, so we know how to asses potential risks. Exactly Cedric's last line about being managed as a hobby is what matches our impres

[2019-03-07 22:57] cbeust commented on #466
@mkarg, thanks.

You don't need my permission nor taking over the project: if you, or your team, or your company, wants to see new features or bug fixes, file issues or send pull requests.

It's really that easy.

[2019-03-07 23:01] mkarg commented on #466
@cbeust Done: #467 #468 ;-)

In fact the question is what you prefer: Issues or PRs? We could also fork and file PRs if this is what you prefer instead of simply suggesting new features.

[2019-03-07 23:04] cbeust commented on #466
Pull requests are obviously preferred, ideally with an accompanying new test (although these two issues you outlined probably don't warrant a test).

[2019-03-14 09:17] mkarg commented on #466
@cbeust The last release is two years old, so some interesting bug fixes have gathered in `master` meanwhile (in particular enabling converters on the main parameter). What is the schedule for the next release?

[2019-03-16 21:20] cbeust commented on #466
1.75 is released.

[2019-03-23 03:08] 3flex commented on #456
1.75 was released a few days ago: https://bintray.com/cbeust/maven/jcommander/1.75

[2019-04-02 23:17] talios commented on #435
I mentioned this on https://github.com/cbeust/jcommander/commit/85cb6f7217e15f62225185ffd97491f34b7b49bb#comments awhile ago when I spotted it.  I should have raised it as an actual issue tho - just came here to do so and found this ticket.

Be good to see a fix for this released.

[2019-04-04 19:59] jsw commented on #441
I'm not able to add additional `pluginRepository`, but this workaround seems to work for me.

[code]

[2019-04-11 06:45] navneet-kumar commented on #460
[code]

[2019-04-18 18:04] JLLeitschuh commented on #465
Ping!

[2019-04-23 06:16] csirostu commented on #377
Confirming on this side as well. Unfortunately in our situation we can't simply disable setAcceptUnknownOptions because we use a polymorphic command line parser.

[code]

Where populateOptions is:
[code]

That is to say, the first pass we have unknown options which are subsequently included based on an input parameter causing a re-evaluation of the options. Nonetheless in the "generic" parser ``JC

[2019-05-09 22:31] talios commented on #434
@cbeust any change of rolling a 1.76 release with this fixed?

I wonder what's triggering the duplicate content?

[2019-05-11 19:44] juddgaddie opened #469 "Graal Support"
If anyone has any experience using JCommander with Graal or if there is anything we can do to assist with JCommander support for Graal that would be great.

See: https://github.com/oracle/graal/blob/master/substratevm/REFLECTION.md

I will report my findings here.

[2019-05-14 15:16] JLLeitschuh commented on #465
Ping @cbeust, @jeremysolarz

[2019-05-17 14:04] asashour commented on #456
I am afraid it is not in maven central repository: https://search.maven.org/search?q=a:jcommander

[2019-05-23 11:08] JLLeitschuh commented on #465
Friendly heads up that without an audit, a CVE number will be issued on June 1st, 2019.

[2019-06-14 07:45] mkarg opened #470 "Invoke IDefaultProvider only if needed"
Apparently `IDefaultProvider` is invoked multiple times for the same parameter, once per each of its names, even in case an explicit value *is* given, i. e. when no default is needed at all.

This is not nice, especially when creation of the default is an expensive operation. For example, when the default provider needs to perform I/O, or expensive cryptographic calculations etc. each default prov

[2019-06-14 11:51] mkarg opened #471 "@Param(default = )"
When using complex parameter types, often the defaults printed by `usage()` are unreadable. For example, the class of the parameter does not overwrite `toString()` so it prints just a hash code. Often these classes are `final` so the application programmer cannot fix this. In other cases, the application programmer might like to replace the simple telling of the default by a more elaborate wording

[2019-06-18 18:49] juddgaddie commented on #469
I ended up using picocli - however not the Graal native support but the Spec builder api which does not require reflection.

[2019-06-18 18:49] #469 closed

[2019-06-27 13:33] ketan commented on #435
I'm seeing this error as well (on 1.75). A lot of tooling that reads manifest files simply breaks when this manifest file is on the classpath.

[2019-07-02 18:48] mageddo commented on #447
same here

[2019-07-03 05:01] mkarg commented on #54
As @cbeust thinks we had good ideas here, wouldn't it be cool if someone of us would open a PR? 8-)

[2019-07-03 05:02] mkarg opened #472 "SubCommands"
Some CLI utilities use multi-word commands alias "Sub Commands": `docker container list <options>`.

It would be great if JCommander would support the registration of sub commands with unlimited depth.

[2019-07-08 21:01] mkarg commented on #472
@cbeust Cedric, if you agree about the general benefit of this feature, we would be happy to provide a PR. Can you please deliver your judgement?

[2019-07-08 21:17] cbeust commented on #472
Hi @mkarg,

No objection to the idea, but a bit concerned how big that PR would be. Happy to review it.

[2019-07-08 21:21] mkarg commented on #472
@cbeust I will assign this task to a new coder we hired. He could start work on that in Q4. As commands are internally JCommander instances, it shouldn't need to much change, as we could call JCommander.addCommand() on that sub-JCommander instances and let them parse the command in turn.

[2019-07-09 20:47] mkarg commented on #472
@cbeust FYI, today we implemented a PoC for subcommands using *unchanged* current JCommander, and it worked like a charm. In fact, it works so good that we decided to take the PoC into production. So I think you don't need to worry about the size of the PR. :-)

[2019-07-09 20:51] cbeust commented on #472
That's awesome to hear :)

[2019-07-10 11:55] brampat commented on #465
@JLLeitschuh Since the sonatype repo you mention now forwards (and supports) https, would the fix to this be simply change http to https in the build.gradle line 6?

[2019-07-10 17:58] cbeust commented on #465
FYI I just fixed that.

[2019-07-11 08:38] brampat commented on #465
Awesome

On Wed, 10 Jul 2019, 19:59 Cedric Beust, <notifications@github.com> wrote:

[2019-08-07 13:57] mkarg commented on #441
This is ridiculous. Publishing to Maven Central via OSSRH is done in minutes. @cbeust Please push 1.74 to Maven Central or allow me to show you how simple this is.

[2019-08-07 17:44] cbeust commented on #441
@mkarg Here is the result of my latest attempt to sync:

[code]

I'm happy to accept a PR that will make it easy to deploy to Maven Central because I really don't feel like debugging such an arcane error message when JCenter is pretty much a standard these days and so much easier to deploy to.

[2019-08-07 17:56] mkarg commented on #441
We're publishing on Maven Central via OSSRH frequently and never had problems (but we do not sync via other services). How do you perform the release, manually (`mvn deploy`) or using a CI/CD system (like Travis CI)? For the PR we need to know that, because in case of CI/CD we need to write down the steps you have to manually configure within that system.

[2019-08-07 17:58] mkarg commented on #441
BTW, the error message you mention says that your binaries fail needed preconditions. These preconditions can be seen when deploying using OSSRH, as the stage is not dropped automatically (as in your syncing case).

[2019-08-14 04:19] cbeust commented on #444
Fixed, 1.75 now available on Maven Central:  https://search.maven.org/artifact/com.beust/jcommander/1.75/jar

[2019-08-14 04:19] #444 closed

[2019-08-14 04:19] cbeust commented on #441
Fixed, 1.75 now available on Maven Central:  https://search.maven.org/artifact/com.beust/jcommander/1.75/jar

[2019-08-14 04:19] #441 closed

[2019-08-14 04:20] cbeust commented on #404
Fixed, 1.75 now available on Maven Central:  https://search.maven.org/artifact/com.beust/jcommander/1.75/jar

[2019-08-14 04:20] #404 closed

[2019-08-14 04:20] cbeust commented on #456
Fixed, 1.75 now available on Maven Central:  https://search.maven.org/artifact/com.beust/jcommander/1.75/jar

[2019-08-14 04:20] #456 closed

[2019-08-14 06:02] ebayedq commented on #435
yup, this includes compiling via maven in intellij.

[2019-08-14 07:53] dadoonet opened #473 "Java8 compatibility"
The latest version 1.75 provides classes which are not compatible anymore with Java8.
Is that change made on purpose? If so, we should reflect that in the README I guess.

Here is my own build output:

[code]

[2019-08-20 06:50] eolivelli commented on #18
I found this cool project
https://github.com/nikolavp/commander-shell

[2019-08-20 21:24] talios commented on #434
Any updates on resolving this at all?

[2019-08-22 09:12] spmason commented on #473
Same here - 1.72 works fine, versions before 1.77 (released yesterday) give a manifest error when I try to use them, 1.77 gives the class file version error

Ideally I'd expect a breaking change like this to go alongside a major version bump as per semver, but I'm not sure what the versioning policy is for jcommander..

@cbeust any thoughts?

[2019-08-22 09:13] spmason opened #474 "https://jcommander.org/ gives an SSL error"
[code]

[2019-08-22 14:09] cbeust commented on #473
I'm guessing I forgot to force class compatibility to Java 8 when I built that version, will fix this shortly.

[2019-08-22 14:10] cbeust commented on #473
By the way, Java 8 was end of lifed at the beginning of this year, people still using it should seriously consider updating.

[2019-08-22 16:30] dadoonet commented on #473
I'm totally fine updating my apps to java12. Just saying that in that case the documentation should be updated to reflect that change.

[2019-08-22 17:24] cbeust commented on #473
Done: 1.78 is now on JCenter and will appear on Maven Central soon.

[code]

[2019-08-22 17:25] #473 closed

[2019-08-23 06:46] cbeust commented on #434
Fixed in 1.78.

[2019-08-23 06:48] cbeust commented on #435
Fixed in 1.78.

[2019-08-23 06:48] #435 closed

[2019-08-25 10:28] io7m commented on #451
It seems that a module name was published in `1.75` and then withdrawn again in `1.78`. What's going on?

[2019-09-03 19:48] david-truong opened #475 "Interactive mode"
We use jcommander in a number of our projects.  We recently decided there were times we would like to have an interactive mode where we would prompt a user for the required params instead of throwing an error.  Would there be interest in this feature to be provided directly by jcommander?

[2019-09-16 22:44] cgruber opened #476 "JCommander recent releases (at least 1.74) are compiled with Java 11 class versions"
[code]

I'm not sure anything in JCommander requires Java11, but the published artifacts are not usable on anything before Java11.

[2019-09-16 22:45] cgruber commented on #476
Oh, this seems to be fixed in 1.78, so never mind. :)

[2019-09-16 22:45] #476 closed

[2019-10-03 08:07] bengtmartensson commented on #475
For users of shells with good command line editing (like bash, even Windows comes with a somewhat usable command line editor) I think this feature is not really needed. By pressing up-arrow and editing the command line you will get the correct one in the command history, not so if completing missing entries in an interactive mode. Also, the interactive mode editing of missing parameters will likel

[2019-10-10 15:08] mkarg opened #477 "Question: Environment Variable with Default Parameters"
Is there a possibility to use Environment Variables with default parameters? The idea is to have MYTOOL_OPTS="-x 1 -y 2 -z 3" in the environment and JCommander will apply these in case "-x", "-y", "-z" are not supplied explicitly on the command line.

I tried to do that with existing JCommander means but did not find a way to make it work.

[2019-10-11 08:13] paplorinc commented on #377
Are there plans to fix this?

[2019-10-12 15:50] mkarg commented on #477
I have drafted a pull request which provides such a feature, please see #478. :-)

[2019-10-26 05:44] david-truong commented on #472
@mkarg can you share your PoC?  We ended up adding a subcommand with a space in it i.e. "container list" and it shocked but glad it worked.  Was wondering if you took a similar approach or had a different implementation.

[2019-10-26 09:35] mkarg commented on #472
Our PoC is far from being good, but it works surprisingly well for our particular use case. I will publish it ASAP. Stay tuned. :-)

[2019-11-03 21:32] Fernal73 commented on #330
Does this support overriding of parameters specified in the files via the command line? There's no mention in the documentation of anything of the sort. If not, is it possible that properties files with parameters that are overridable via CLI will be supported or added as a feature any time soon?

[2019-11-07 16:34] shaburov commented on #447
@pvliss @mageddo
[code]
and use version 1.74+
[code]

[2019-11-09 12:27] Fernal73 opened #479 "JCommander must support properties or rc files."
https://github.com/cbeust/jcommander/issues/330#issuecomment-549180997

JCommander must support the reading of default user-configured parameter values from a properties or rc file. These should be overridable from the command-line. The configuration file can be changed by users of the API by specifying a switch to do that. The API must support specifying a default file name for the configuration.

[2019-11-11 15:29] Fernal73 commented on #479
Looking through your codebase it appears that you do allow the specifying of defaults through property files. Does this allow for overriding of values? If not, do change the title.

[2019-11-13 10:38] Jangor67 commented on #458
Can this issue be closed and/or is the behavior like the testCase below expected?

I upgraded from JCommander 1.72 to 1.78 and encountered a change which looks like it is related to this issue. I have made the following testCase which **succeeds with version 1.78** but **fails with 1.72**:

[code]

Is this the desired behavior? If so is it an idea to document it on

[2019-12-12 04:11] jkosh44 opened #480 "Commands with no description have the string "null" printed as their description when calling usage()"
Steps to reproduce:
[code]

The `jCommander.usage()` call above will result in the String literal "null" being printed instead of any description. Below I have copied the result of running that main method:

[code]

Instead of printing "null" it should either print nothing as the description or raise an error that the command doesn't have a description

[2019-12-16 01:28] jkosh44 commented on #465
@cbeust Is this issue still open? I don't see any linked PRs but [build.gradel.kts](https://github.com/cbeust/jcommander/blob/master/build.gradle.kts) seems to use https for sonatype.

[2019-12-16 02:00] cbeust commented on #465
Nope, closing.

[2019-12-16 02:00] #465 closed

[2019-12-17 03:05] jkosh44 commented on #480
By the way, I'm using version 1.78 for this.

[2020-01-05 18:21] mimic2300 opened #482 "Custom enum formatter for help."
Hi, please make it possible to customize the default enum values in the help. Type names are not always sufficient.

Example of how I modified it. You can use it or think of another way.
Create custom **DefaultUsageFormatter** with overridden method **appendAllParametersDetails(..)** and under line where is `if (type.isEnum()) {`

modify this:
```String valueList = EnumSet.allOf((Class<? extends E

[2020-01-09 22:50] SElab2019 opened #483 "Updating from 1.7.2 to 1.7.8 breaks"
When I try to upgrade jcommander from 1.7.2 to 1.7.8. The following code breaks.
[code]
The code should pass, but it throws an error:
[code]

[2020-01-11 16:31] paplorinc commented on #377
@cbeust, any plans?

[2020-01-11 17:48] cbeust commented on #377
Happy to accept a PR.

[2020-04-18 07:38] freeernest commented on #171
Hey @cbeust ,
I agree with @magnusvojbacke.
This option is a good to have:
` JCommander.parse(args, Params.class)`

[2020-04-18 20:51] FROGbots-4634 opened #484 "How can I get varying level of verbosity { -v -vv -vvv} functionality?"
I've looked at the documentation, and maybe I'm missing something, but I can't seem to find a way to create a variable verbosity parameter where the level of verbosity is determined by the number of `v`s.

[2020-04-23 16:13] cbeust commented on #438
Fixing this could potentially break users, so closing this.

[2020-04-23 16:13] #438 closed

[2020-05-01 20:00] david-truong commented on #484
you can create multiple parameters and hide the additional ones and explain it through the first one...

[2020-05-11 22:59] buzzlawless commented on #377
What does it mean to accept unknown options? I don't see anything in the documentation about it.

[2020-05-31 11:12] antonio-rodriges opened #486 "@SubParameter Problems"
There are at least 2 problems with @SubParameter
1. It can set only `public` fields of a class
2. It does not convert data types

Example code:
[code]

In the above code:
1. `variableName, min, max, step` have to be `public` (otherwise there is an exception) which is not good and is different from usual jCommander behavior
2. Parameters like `--tune L 0 1 0.01`  yield exception as `0` is treated a

[2020-06-01 11:38] fbiville opened #487 "JCommander#addCommand does not copy the custom `IUsageFormatter`"
It seems currently impossible to have a custom `IUsageFormatter` that propagates to commands:

Here is the current stable version of the canonical `addCommand` (v1.78).

[code]

Every added command will be associated with a JCommander instance set with `DefaultUsageFormatter`.

I assume the fix would consist in setting the custom `IUsageFormatter` in the associated `JCommander.Options` instance?

[2020-06-04 18:01] mkarg opened #488 "kobaltw is broken"
Kobaltw seems to be broken:
[code]

[2020-06-04 18:01] mkarg commented on #488
@cbeust Any idea?

[2020-06-04 18:08] cbeust commented on #488
Should be fixed, thanks for the report!

[2020-06-04 18:08] #488 closed

[2020-06-05 00:38] phreed opened #489 "IStringConverter must NOT be Inner Class"
This could be corrected with a change to the documentation.

The problem is that the  parameter types for an inner class includes the parent class.
https://github.com/cbeust/jcommander/blob/master/src/main/java/com/beust/jcommander/JCommander.java#L1355
This means that the 'ctor' is not set and null is returned for inner class Converters.

[2020-06-07 12:20] mkarg commented on #488
Works like a charm, thanks! :-)

[2020-06-07 17:04] #477 closed

[2020-06-26 16:15] SreenivasVRao opened #493 "Support for java.time.Date converter?"
Hi,
I notice that java.util.Date is the only supported default converter for date arguments.

I can write my own of course, but I wonder if you'll accept pull requests for java.time.Date since the util.Date is a mutable format and deprecated afaik...

Cheers

[2020-06-30 09:43] gfinocchiaro opened #494 "Javadocs link broken"
The link to http://jcommander.org/apidocs/ in Section [Javadocs](https://jcommander.org/#_javadocs) of the documentation.

[2020-08-07 18:34] StaffanArvidsson opened #498 "Add possibility for list -> object"
I would like to have the possibility to go from a list of strings as input to an object, i.e. have an interface similar to IStringConverter that instead take a list of Strings or possibly an array. This would solve issues were a complex type needs to be specified, or one that has dynamic parameters depending on the concrete implementation. For example I take input files that can be of several form

[2020-08-14 07:29] rakus commented on #365
I hit the same problem when I wanted to update a old project from JCommander 1.30 to 1.78.

If it is intended that unknown options don't throw a `ParameterException`, then the documentation should be updated to explain how unknown options should be detected and handled.

As noted in the original description, the test method `com.beust.jcommander.JCommanderTest.shouldThrowIfUnknownOption()` should

[2020-08-20 01:27] brandones commented on #432
This would seem like an extremely easy mistake to make as a user of a program. The user, when making this mistake, is presented with an error message that says something incomprehensible regarding the implementation specifics. When they see that, they have no choice but to give up.

It would be much better to catch this sort of thing with an error message like "Parameters must be separated with sp

[2020-09-01 06:50] mkarg opened #499 "Maven Central Updates"
I would be happy if jCommander 1.80 could be pushed to Maven Central. :-)

[2020-09-02 20:42] PavelZeger opened #500 "Cannot use in Scala the validation feature"
Hi.
I'm trying to use "validateWith" but encountered the following error:

[code]

The code is:
[code]

The validator:
[code]
How can I implement the validation in  Scala?

[2020-09-02 20:55] PavelZeger commented on #500
I changed the code and now it runs without errors:
[code]

I would appreciate if you can suggest the better approach

[2020-09-11 21:53] mkarg commented on #499
@cbeust Please consider this issue. Thanks. :-)

[2020-09-29 06:46] mkarg commented on #499
@cbeust Could you please at least clearly point out that you *never* will do that, so everybody knows what's the official project policy? Otherwise, I hereby offer that I will frequently upload all new releases on Maven Central in the name of this project, if you agree that I claim your group ID at Sonatype.

[2020-09-29 08:49] c-kunz opened #501 "Cannot use @-syntax in conjunction with arguments starting with literal @"
# Description

One cannot use the [`@`-syntax](https://jcommander.org/#_syntax) in conjunction with parameters that may contain a literal `@` at the beginning.

## Steps to reproduce:

In this repository: https://github.com/c-kunz/jcommander-conflicting-at-syntax

[code]

## Expected result

JCommander is able to parse the argument beginning with the literal `@` while also being able to parse addi

[2020-09-29 08:53] c-kunz commented on #501
Issue https://github.com/cbeust/jcommander/issues/462 might be related:

[2020-09-29 09:46] mkarg commented on #501
# Proposed Solution

JCommander should have a new option which allows using `@` as part of parameter *values* but still recognizes it as file name prefix when used in parameter *names*. Hence, the old behavior would be the default, but new applications could opt-in to the new bahvior.

[2020-09-29 09:48] mkarg commented on #501
See also #330.

[2020-10-07 08:00] adessaigne opened #502 "Missing OSGi headers in MANIFEST.MF"
Hello 👋

Since JCommander 1.75, the `MANIFEST.MT` no longer have the OSGi entries.

Release 1.75 contains
[code]

Release 1.78 contains only
[code]

Can you have a look? Thanks.

[2020-10-18 11:41] shaburov opened #505 "[BUG] FuzzyMap.IKey is package private"
jcommander-1.78

![image](https://user-images.githubusercontent.com/15269131/96366351-e52dba80-114f-11eb-853e-2e16404f82bd.png)

[2020-10-22 18:17] akshayrb9 opened #506 "ECCN for jcommander"
Hi, For documentation purpose and project release process we need the Export control classification number(ECCN) for jcommander if it applies. Can you please let me know the ECCN ?

[2020-10-29 13:19] Chuckame opened #507 "Have a default validator"
Hello there, great lib ! 😄

So, it can be cool to have a default validation (like a fallback). Is this way, we are able to globalize the validation using javax validation annotations (like `@NotBlank` on Strings, `@Max(10)` for a maximum limit for a number, etc...).
What do you think ? I can help for programming this feature

[2020-11-26 10:27] bglmmz opened #508 "cannot detected the required parameter if no value input"
`
 @Parameter(
          names = {"--name"},
          arity = 1,
          required = true)
private String name;

 @Parameter(
          names = {"--class"},
          arity = 1,
          required = true)
private String class;
`
the command line is:
`MyTest add --name --class one`

the error message is:
`command 'add' not support option 'one'`

but not the expected:
`option 'name' cannot be empt

[2020-11-26 18:47] yeikel opened #509 "[BUG] Invalid type inference for Sets of Enums"
I have the following parameter :

[code]
And when I pass a Role as a String, for example `--roles "SUPP"`, it creates a `Set<String> `instead of a `Set<Relationship.TypeEnum>`

![image](https://user-images.githubusercontent.com/8935151/100383982-0904db80-2fed-11eb-8bd6-f90ef5e67e91.png)

This behavior does not happen with ArrayLists

![image](https://user-images.githubusercontent.com/8935151/10038

[2021-03-23 14:12] mkarg opened #513 "Support for default command"
For some applications it might be beneficial to have a default command which will be invoked if no command is explicitly provided. Currently in this situation `usage()` is executed, but it might be a good thing if instead the default command gets executed if one is declared:
[code]

[2021-03-28 15:55] mkarg commented on #499
Meanwhile jCommander 1.81 is published on Maven Central. I wonder why not pushing 1.80?

[2021-03-28 15:56] mkarg commented on #493
Pleas go ahead and provide a PR. My experience with Cedric is that he accepts such valuabale changes. :-)

[2021-04-11 19:07] ice1000 commented on #451
I am also looking for this. Hopefully it could be done

[2021-04-11 19:09] ice1000 commented on #451
The module file is moved outside of the source directory: https://github.com/cbeust/jcommander/blob/master/module-info.java

Idk why.

[2021-04-11 19:10] ice1000 commented on #451
Hi @cbeust what happened to module-info.java?

[2021-04-25 11:47] Asriter commented on #431
I would like to work on this issue

[2021-04-25 12:00] fsd654qyl commented on #486
I'd like to work on this

[2021-05-12 13:31] mkarg opened #516 "Multiple Default Providers"
Sophisticated CLI tools allow the provision of multiple default sources, e. g. in a first step these tools will check environment variables, and if nothing found, they will check property files. It would be a very beneficial addition to jCommander to be able to register *an ordered sequence* of `IDefaultProvider` which will be checked, and the first default to be applied.

[2021-05-12 13:31] mkarg commented on #516
@cbeust WDYT? If we will provide this, would you accept it?

[2021-05-12 13:39] mkarg opened #517 "Combining required=true with defaults"
Currently required=true enforces the explicit provision of a parameter at the command line. In fact, it would be very useful, is a default would be considered, i. e. the error message requesting the missing parameter *only* pops up if the default (provided either by a static initializationg function or by a IDefaultProvider) actually is null. The idea behind this is that an essential parameter *ca

[2021-05-13 01:32] cbeust commented on #516
Sure, sounds useful!

[2021-05-15 11:55] XxxXxxXxx233 commented on #379
Hello, I want to work on this issue. Specifically, I will create a new variable 'category' in the @parameter, then rewrite the 'compare' and 'usage' methods.

[2021-05-16 08:02] fsd654qyl commented on #471
I would like to try on this.

[2021-05-19 07:17] Harlan1997 commented on #507
Interesting point. Could you give me an example? I would like to work on this issue.

[2021-05-19 18:01] Harlan1997 commented on #509
I will work on this issue.

[2021-05-19 18:17] Harlan1997 commented on #509
I wrote a test to reproduce this problem.
[code]
The result of this test is:
[code]

[2021-05-21 05:22] HennyNile commented on #501
Hello, I think @-syntax is a new feature that allows user to write parameter vlaues in a file and the progarm will read them form the file. And as @c-kunz  has mentioned, you can choose if you use @-syntax or not by setting the value of variable JCommander.Options.expandAtSign which is a  private variable.
The only problem I think is if you use JCommander.newBuilder() to create a Builer and use th

[2021-05-21 08:16] HennyNile commented on #501
Hello, I want to try to work on this issue.
I plan to modify the judge rule of @-syntax which is inspired by that file name can not start with / in windows and linux.

[2021-05-21 17:43] Asriter commented on #445
I'd like to work on this. But i am so sorry that i could not fully understood what function you want to realize. I add a method named `addSubcommand(name, object, parentCommand)` to add a subcommand for another command, and the comamnd 'myprogram command subcommand --flag1 --flag2' can run.

[2021-07-25 20:26] Hrushi20 commented on #367
I am facing the same issue in version 1.81

![Screenshot (19)](https://user-images.githubusercontent.com/65367566/126912430-89b86757-4793-46fd-a278-6aac3950c8df.png)

I am able to print the entire todo using the --addTodo argument, but am get null pointer exception while printing the getParsedCommand

[2021-09-23 15:37] fbiville commented on #474
This seems fixed now?

[2021-10-07 00:34] jja725 opened #526 "Jcommander support Enum"
I try to create an abstract class with some common parameters so I can inherit from this class and create several similar parameters. But I'm struggling with the Jcommander with Enum types. The following code giving me the error. I'm wondering if no converter is specified for an enum type, does EnumConverter gets called?
[code]
[code]
I search online and try to add converter but doesn't know how t

[2021-10-15 01:56] dongshen opened #527 "cant catch ParameterException in top level"
the code like this:
JCommander jcommander = new JCommander(arguments);
  jcommander.setProgramName(progName);
  try {
    jcommander.parse(args);
  } catch (ParameterException e) {
    System.err.println(e.getMessage());
  }

but we get exception but cant catch in parse(args) level.
com.beust.jcommander.ParameterException: Only one main parameter allowed but found several: "parameter2" and "script

[2021-10-15 02:08] dongshen commented on #527
solved, i found the same ParameterException in my local system. because the exception name is the same, so not be catch

[2021-10-15 02:08] #527 closed, assigned to nobody

[2021-12-10 08:00] virgo47 commented on #308
I got here because of the indentation problem with \n which makes it ugly/unusable. I'll probably rather not use \n and have longer descriptions as a single blob.

[2021-12-13 16:27] twwwt opened #530 "Repetition of same Boolean argument with arity `0` negates argument's value"
Consider the following argument definition:
[code]

### Current Behavior
If the Boolean argument is used repeatedly on the command line (i.e., more than once), its effective Boolean value flips with every repetition:
[code]
While the first two lines work as expected, starting from the third line (where `-y` occurs twice), the effective value of `dryRun` flips with every repetition of `-y`.

### Ex

[2021-12-17 01:17] hongwingl commented on #489
It can be an inner class, you just have to declare it as `static class`

[2022-01-19 11:30] Auo opened #531 "Changelog missing updates"
Hi!

The CHANGELOG.md, hasn't been updated since 2017, is there another location where I could get an overall view of the changes?

Thank, you for creating and maintaining this package!

[2022-01-19 20:34] timbarlotta commented on #530
This is reproducible even if the arity is left at the default of `-1`.  The logic keeps flipping the boolean.  Seems like this should either:

1. error out as the parameter should only be specified once
2. be set to true no matter how many times the flag is passed

[2022-01-24 14:00] mkarg opened #532 "@-syntax not working with command objects"
It seems there is a bug in the resolution of the @-syntax when command objects are used:

[code]
When executed with command and options in a single line `cmd --foo X`, this works just fine.

But when executed with @-syntax `cmd @conf.txt` where `conf.txt` includes the sole line `--foo X`, this fails with a strange message:

[code]

[2022-01-30 15:56] thnaeff commented on #526
If I see this correctly, because of type erasure it does not actually know the type of the enum (or the fact that it is an enum) once the code is compiled. Meaning what it actually is after compilation is `public Object mOperation;`

What you could try in your `OperationConverter`

[code]

but I am not sure what you would get provided to this constructor `protected OperationConverter(Class<S> claz

[2022-01-30 23:22] #532 closed

[2022-02-20 00:22] LucCappellaro commented on #321
So we need to parse the [MainParameter](https://jcommander.org/#_main_parameter)s ourselves (detect options with prefixes) to reject unknown options? (https://github.com/cbeust/jcommander/issues/365)
Wasn't that the problem this tool wanted to solve in first place?

[2022-02-20 10:14] LucCappellaro commented on #365
According to [Usage](https://jcommander.org/#_usage) ([DefaultUsageFormatter](https://github.com/cbeust/jcommander/blob/1be2afadb58b42d0e4027420b1231f4f81ba1240/src/main/java/com/beust/jcommander/DefaultUsageFormatter.java#L138)) there seems to be an order, first the options then the main parameters.
This is common: "All options precede non-option arguments" ([getopt](https://en.wikipedia.org/wiki

[2022-03-29 17:17] yeroc opened #534 "New release with backwards compatibility fixes."
Is there any change a new release could be created that includes #523?  This would be extremely helpful.

Thanks!

[2022-05-07 08:27] simonjhy opened #536 "How to add command line parameter dependency with JCommander?"
How to add command line parameter dependency between multiple parameters using JCommander?

[2022-06-20 19:16] ice1000 commented on #451
FYI https://picocli.info/ supports JPMS 😉

[2022-07-17 20:49] JohnLCaron commented on #451
thanks, @ice1000

[2022-07-19 18:20] antonio-rodriges commented on #380
Thanks for adding converter capability to parse the main param: https://github.com/cbeust/jcommander/blob/05254453c0a824f719bd72dac66fa686525752a5/src/main/java/com/beust/jcommander/JCommander.java#L766-L771

However, the code does not work if we provide `IStringConverterFactory`. A workaround is to specify a dummy converter class for the main parameter that cannot be instantiated.

I noticed the

[2022-07-21 09:28] antonio-rodriges opened #538 "Main parameter does not support IStringConverterInstanceFactory"
JCommander can accept

[code]
But it does not work for the main parameter

[code]

A workaround is to specify a dummy converter class for the main parameter that cannot be instantiated (e.g. an abstract class with a private constructor), see https://github.com/cbeust/jcommander/issues/380#issuecomment-1189410233

Related issue: https://github.com/cbeust/jcommander/issues/380

[2022-08-18 06:20] mkarg opened #539 "@Parameters(`parametersValidators = MYPARAMETERSVALIDATOR.class`)"
I frequently had the need to check parameters for validity, but the validity was *not static*. So I wished there would be a rule that could be pointed to instead of static flags like `password` or `required`. The idea is that an instance of the given `MYRULE.class` is created, then it is given the values of **all** parameters, then it computes the outcome, and the outcome of the rule is either thr

[2022-08-18 06:20] mkarg commented on #539
@cbeust WDYT? Do you like the idea? If so, I would be happy to provide a PR. :-)

[2022-08-20 08:15] mkarg commented on #539
I would say it is a shortcoming of JCommander to simply offload this task to the application. The nice thing with JCommander is that one can have everything dealing with CLI in one single place: annotations on the parameters. I would really love to get rid of all those checks in my application code and move it to such rules instead. This also allows to make rules reusable between applications, BTW

[2022-08-20 08:17] mkarg commented on #539
We would be happy to provide a PR that replaces that annoying part of the documentation by a real support of rules in `@Parameter` and `@Parameters`.

[2022-08-20 20:29] cbeust commented on #539
Alright, send a PR!

[2022-08-22 22:01] yeikel opened #541 "Please document your gpg keys"
We use [Dependency Verification](https://docs.gradle.org/current/userguide/dependency_verification.html) and currently there is no documentation stating which keys are safe

Could you please document this?

For example,`1.81` [ was signed](https://repo1.maven.org/maven2/com/beust/jcommander/1.81/jcommander-1.81.jar.asc) using [dcba03381ef6c89096acd985ac5ec74981f9cda6](https://keyserver.ubuntu.com/

[2022-08-30 11:15] mkarg commented on #539
@cbeust Working on it. Maybe a dumb question, but how to run all tests at once? `gradlew test` produces an HTML file telling me zero of zero tests done. What am I doing wrong? 🤔

[2022-09-01 12:32] mkarg commented on #536
This will be the answer once it got merged: https://github.com/cbeust/jcommander/pull/542 :-)

[2022-09-01 12:33] mkarg commented on #531
This is an open source project, so feel free to provide PR including the missing issues. :-)

[2022-09-01 12:35] mkarg commented on #513
@cbeust I would provide a PR if you think this feature is benefical.

[2022-09-03 07:49] mkarg commented on #539
ℹ️ In contrast to the original comment, this issue was implemented by PR #542 using *different names* than originally proposed. The new interface is called `IParametersValidator` (instead of `IRule`), and the annotation field is named `parametersValidators` (instead of `rules`).

[2022-09-07 07:33] mkoncek opened #544 "Why is there `module-info.java`?"
I am packaging this project and noticed this file outside of java source tree. Is it supposed to be added manually or not?
If not, is there a reason why it is present in the project at all? I see that currently released jars are not modular.
In any case even the `module-info.java` seems to be incomplete as I got the following errors when I attempted to build the project with the file added into th

[2022-10-18 07:07] white-infinity opened #545 "why specified convert not effect ?"
I create a JobPriorityConverter class, it's inherit from EnumConverter.

[code]

The `JobPriority` is generated by proto, it look like below
[code]

Now, I have a parameter.
[code]

But I run the program, for example: java -classpath xxx ... className --priority VERY_HIGH, then it should be HIGH, actually it's still VERY_HIGH.

I pass the invalid priority, it output.
[code]

[2022-11-02 10:24] jontmy opened #546 "Main parameter conversion has priority over arity validation"
I have this converter which takes a String and attempts conversion into an `Index` - which is basically a wrapper around an `int`:

[code]

However, if I define a parameter in my command class like so, and I attempt to let JCommander parse the command "<command word> 123 abc", now I get the `ParameterException` thrown because of the "abc" - but should JCommander instead realize that the arity of 2

[2022-11-02 11:52] jontmy opened #547 "Global parameter validation documentation is not deployed to jcommander.org"
PR #542 (which implements #539) which introduced `IParametersValidator` included its documentation for it, but it is not deployed to the JCommander website.

This is the current paragraph for the global parameter validation section that is live:
<img width="1021" alt="Screenshot 2022-11-02 at 19 55 05" src="https://user-images.githubusercontent.com/50949210/199483605-a6393a11-0171-465d-9207-2e283d

[2022-11-16 15:12] yeroc commented on #534
@cbeust Is there anyway I can help on this?

[2022-11-24 10:29] mkarg commented on #547
The reason simply is that the latest published jCommander is 1.82, which does not contain that feature.

@cbeust I'd like to propose publishing jCommander 1.83 in Q1/2023, WDYT?

[2022-11-24 10:31] #539 closed